version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/"
    registries:
      - npm-github
    schedule:
      interval: "weekly"
    groups:
      npm-security-updates:
        applies-to: security-updates
        update-types:
          - "major"
          - "minor"
          - "patch"
      npm-version-updates:
        applies-to: version-updates
        update-types:
          - "major"
          - "minor"
          - "patch"
    versioning-strategy: increase
