.github/**
.vscode/**
.vscode-test/**
out/**
node_modules/**
scripts/**
src/**
.editorconfig
.gitignore
.yarnrc
AGENTS.md
esbuild.js
icon.svg
release.config.mjs
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
