on:
  release:
    types:
      - created

env:
  FORCE_COLOR: 1
  NPM_CONFIG_COLOR: always
  YARN_ENABLE_IMMUTABLE_INSTALLS: false
  NODE_OPTIONS: "--max-old-space-size=4096 --max-semi-space-size=4096"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22.x
          check-latest: true
          cache: npm
      - run: npm install
      - if: startsWith(github.ref, 'refs/tags/')
        run: npm run deploy
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
