on:
  push:
    branches:
      - main

env:
  FORCE_COLOR: 1
  NPM_CONFIG_COLOR: always
  YARN_ENABLE_IMMUTABLE_INSTALLS: false
  NODE_OPTIONS: "--max-old-space-size=4096 --max-semi-space-size=4096"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  test:
    uses: ./.github/workflows/test.yaml
  release:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.PAT_APP_ID }}
          private-key: ${{ secrets.PAT_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          permission-contents: write
          permission-issues: write
          permission-pull-requests: write
          permission-packages: read
      - uses: actions/checkout@v6
        with:
          token: ${{ steps.generate-token.outputs.token }}
      - uses: actions/setup-node@v6
        with:
          node-version: 22.x
          check-latest: true
          cache: npm
      - run: npm install
      - run: npm run release
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
