on: workflow_call

jobs:
  test:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22.x
          check-latest: true
          cache: npm
      - run: npm install
      - if: runner.os == 'Linux'
        run: xvfb-run -a npm test
      - if: runner.os != 'Linux'
        run: npm test
